---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import Topic, { TextType } from '../components/Topic.astro';

---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.created.slice(0, 10)} {frontmatter.updated &&  <span>, updated {frontmatter.updated.slice(0, 10)}</span>} </p>
  <p><em>{frontmatter.description}</em></p>
  <p>
    Written by: {frontmatter.author}<br>
    Keywords: {frontmatter.tags.map((tag:any, index:any) => (
    <>
      <a href={`/tags/${tag}`}>{tag}</a>{index < frontmatter.tags.length - 1 ? ", " : ""}
    </>
  ))}
  </p>
 
  <slot />
  <Topic type={frontmatter.topic} />


</BaseLayout>
